.main {
  background-image: url('/src/img/Rectangle.png');
  background-size: cover;
  background-repeat: no-repeat, repeat;
}

.main .title {
  color: #fff;
  font-family: Archivo;
  text-align: center;
  padding: 163px;
}

.main .title p {
  font-size: 18px;
  /* margin-top: 222px; */
  font-weight: 400;
}

.main .title h1 {
  font-size: 56px;
  font-weight: 700;
  margin-top: 17px;
}

.main .title button {
  background-color: #00AD33;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  width: 137px;
  height: 47px;
  margin-top: 56px;

}

.main .title .iconBi {
  /* width: 30px;
  height: 30px; */
  margin-top: 226px;
}

.weGet {
  background-color: #090C06;
  color: #fff;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 47px;
  font-weight: 700;
  font-family: Archivo;
}

.get {
  color: #00AD33;
}

.img,
.img3 {
  margin-left: 48%
}

.box {
  text-align: center;
  margin-top: 128px;
}

.ourProduct,
.product {
  font-size: 44px;
  font-weight: bold;
  font-family: Archivo;

}

.ourProduct {
  color: #090C06;
}

.product {
  color: #00AD33;
}

.paperNapkin {
  background-color: #090C06;
  margin-top: 64px;
}

.paperNapkin .direction {
  margin-left: 150px;
  margin-top: 64px;
}

.sectionFour {
  margin-top: 64px;
  font-family: Archivo;
  position: relative;
}

.sectionFour .boxTo {
  display: flex;
}

.sectionFour .boxTo .boxThree {
  margin-left: 140px;
}

.sectionFour .boxTo img {
  margin-left: 120px;
}

.sectionFour .boxTo h3 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 25px;
}

.sectionFour .boxTo p {
  font-size: 14px;
  width: 580px;
  height: 231px;
  line-height: 21px;
  margin-top: 24px;
}

.sectionFour .boxFour {
  background-color: #00AD33;
  color: #fff;
  width: 330px;
  height: 169px;
  border-radius: 16px;
  position: absolute;
  top: 72%;
  left: 28%;
}

.sectionFour .boxMain {
  position: absolute;
  top: 30%;
  left: 28%;
}


.sectionFour .boxFour p {
  padding: 25px;
  font-size: 14px;
  line-height: 21px;
}

.sectionFour .boxFour h5 {
  margin-left: 30px;
}

.connection {
  margin-top: 164px;
  text-align: center;
}


.sectionTo {
  margin-top: 126px;
  margin-bottom: 180px;
}

.sectionTo .boxFour {
  position: absolute;

  top: 88%;
  left: 50%;
}