.header {
    display: flex;
    background-image: url('./img//Rectangle.png');
    background-attachment: fixed;
    width: 100%;
    height: 133px;
}

.header img {
    width: 65px;
    height: 53px;
    margin: 40px 0px 0px 145px;
}

.header .menu {
    display: flex;
    margin-left: 155px;
}

.header .menu li {
    margin-top: 59px;
    list-style: none;
}

.header .menu li a {
    color: #fff;
    font-size: 14px;
    font-family: Archivo;
    line-height: 15.23px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 48px;
}

.header .menu .icon {
    color: #fff;
    margin-left: 178px;
    margin-top: 59px;
    width: 24px;
    height: 24px;

}

.header .icon .search {
    color: #fff;
}

.header .menu .translate {
    background-color: #00AD33;
    color: #fff;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin-left: 16px;
    margin-top: 52px;
}

.header .menu .translate select {
    background-color: #00AD33;
    height: 40px;
}

.cardItem {

    font-family: Archivo;
    position: relative;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 20px;
    width: 380px;
    height: 472px;
    margin: 76px 0px 0px 30px;

}

.cardItem img {
    border-radius: 8px;
}

.cardItem h1 {
    color: #090C06;
    font-size: 24px;
    font-family: Archivo;
    font-weight: bold;
    margin-top: 32px;
}

.cardItem p {
    font-size: 14px;
    width: 344px;
    height: 72px;
    line-height: 24px;
    margin-top: 16px;
}

.cardItem .btn {
    display: flex;

}

.cardItem .information,
.cardItem .appreal {
    width: 164px;
    height: 47px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-top: 65px;
}

.cardItem .information {
    background-color: #F8F8F7;
    color: #090C06;

}

.cardItem .appreal {
    background-color: #00AD33;
    color: #fff;
    margin-left: 16px;
    margin-bottom: 12px;
}

.cardItem .price {
    background-color: #090C06;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    position: absolute;
    bottom: 93%;
    left: 40px;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 120px;
    margin-bottom: 100px;

}

.paperList {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 120px;
    margin-bottom: 100px;
}

.paperItem {
    font-family: Archivo;
    margin-left: 32px;
}

.paperItem img {
    margin-top: 123px;
}

.paperItem h5 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;

}

.paperItem p {
    font-size: 14px;
    width: 222px;
    height: 48px;
    line-height: 24px;
    margin-top: 32px;
}

.paperItem .mainBox {
    display: flex;
    margin-top: 32px;
}

.paperItem .mainBox button {
    background-color: #00AD33;
    color: #fff;
    width: 96px;
    height: 37px;
    border-radius: 8px;
    font-size: 12px;
    border: none;

}

.paperItem .mainBox div {
    width: 80px;
    height: 15px;
    margin: 10px 0px 0px 24px;
}

.inputSection {
    background-color: #090C06;
    margin-top: 64px;
}

.inputSection img {
    margin-left: 48%;
}

.inputSection form {
    margin-top: 76px;
    margin-left: 148px;
}

.inputSection textarea,
.inputSection form .name,
.inputSection form .number {
    background-color: #090C06;
    border: 1px solid #fff;
    border-radius: 16px;
    padding: 6px;
    font-size: 14px;
    color: #fff;
}

.inputSection form .name,
.inputSection form .number {
    width: 556px;
    height: 45px;
    margin-right: 32px;
}

.inputSection textarea {
    width: 1144px;
    height: 116px;
    margin-left: 148px;
    margin-top: 24px;
}

.inputSection button {
    width: 113px;
    height: 47px;
    padding: 16px, 32px, 16px, 32px;
    background-color: #00AD33;
    color: #F8F8F7;
    border-radius: 8px;
    margin-top: 48px;
    border: none;
    margin-left: 148px;
}

.footer {
    font-family: Archivo;
}


.footer .mainBox {
    display: flex;
    width: 90%;
    padding-top: 100px;

}

.footer .box {
    margin-left: 140px;
    width: 20%;
    height: 201px;
}

.footer .box img {
    margin-bottom: 16px;
}

.footer .box h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.footer .box h6 {
    font-size: 14px;
    margin-bottom: 16px;

}

.footer .productName,
.footer .buyName,
.footer .devicesName {
    text-decoration: none;
}

.footer .box p {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 300;
    width: 286px;
}

.footer .box .socialIcon span {
    padding-right: 14px;
}

.footer .copyRight {
    margin-top: 30px;
    margin-left: 120px;
    display: flex;
}

.footer .copyRight span {
    margin-right: 30px;
}

.footer .copyRight .plast,
.footer .copyRight .crocusoft {
    font-weight: bold;
}

.footer .copyRight .crocusoftLlc {
    margin-left: 600px;
    margin-bottom: 26px;
}

.line {
    border-top: 1px solid #999999;
    margin-top: 114px;
}

.title {
    color: #fff;
    font-size: 44px;
    font-weight: bold;
    font-family: Archivo;
    margin-top: 72px;
    text-align: center;
}

.link {
    font-size: 12px;
    color: #fff;
}

.transition {
    text-align: center;
    margin-top: 16px;
    position: relative;
}

.transition input {
    width: 556px;
    height: 48px;
    border-radius: 16px;
    padding: 0px 20px;
    margin-bottom: 36px;
    border: none;
}

.headingText {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon {
    color: #fff;
}

.search-icon {
    position: absolute;
    top: 20%;
    left: 68%;
    color: #00AD33;
}

.homeLink {
    margin-right: 5px;
}

.buyLink {
    margin-left: 5px;
}

.distance {
    margin-bottom: 100px;
}

.imgMain {
    background-image: url('/src/img/Rectangle\ 2.png');
    padding: 20px 0px 0px 0px;
    background-attachment: fixed;
}

.card {
    margin-bottom: 100px;
}

.mainModal {
    position: relative;
    background-color: #fff;
    width: 446px;
    height: 522px;
    border-radius: 24px;
    padding: 0px 32px;
    margin-left: 32%;
    bottom: 300px;
}

.mainModal h2 {
    font-size: 42px;
    font-family: Archivo;
    font-weight: bold;
    margin-bottom: 40px;
    color: #090C06;
    margin-right: 90px;
}

.mainModal form {
    display: flex;
    flex-wrap: wrap;

}

.mainModal form input {
    width: 382px;
    height: 40px;
    border-radius: 24px;
    padding: 0px 20px;
    border: 1px solid #989898;
    margin-bottom: 24px;
}

.mainModal button {
    background-color: #00AD33;
    color: #fff;
    width: 137px;
    border-radius: 16px;
    border: none;
    height: 47px;
    font-size: 14px;

}

.close {
    color: #090C06;
    font-size: 32px;
    border-radius: 16px;
    padding: 4px 8px;
    margin-left: 99%;
}

.cardModal {
    transform: translate(50% 50%);
    z-index: 99;
}


.carousel {
    margin-left: 120px;
}

.slick-prev,
.slick-next {
    color: red !important;
    background-color: black !important;
    border: none;
    position: absolute;
    top: 120%;
}

.slick-list {
    margin: 0px 120px;
}

.slick-prev {
    margin: 0px 170px;
}

.slick-next {
    margin-right: 30px;
    right: 82%;
}

.slick-active button {
    color: #fff !important;
}

.bbb {
    display: flex;
    flex-wrap: wrap;
}
